.task {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 20px;
}

.desc {
  font-size: 18px;
}

.textComplete {
  color: var(--green);
  font-weight: 600;
}

.cost {
  font-size: 20px;
  font-weight: 600;
}