.gamePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scoreTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.showTasksBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 30px;
}

.tasksTitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  padding: 20px 0;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--light-blue);
}