.gamePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.scoreLabel {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.score {
  color: var(--red);
}

.nameLabel {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
}

.barLabel {
  font-size: 24px;
  margin-bottom: 10px;
}

.bar {
  font-size: 28px;
  font-weight: 600;
}

.adressLabel {
  font-size: 24px;
}

.buttonOpen {
  width: 100%;
}


.showTasksBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 30px;
}

.tasksTitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.listItem {
  padding: 20px 0;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--light-blue);
}