.login {
  width: 100%;
}

.infoBlock {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 32px;
}

.text {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  line-height: 20px;
}

.infoButton {
  width: 20px;
  height: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  margin-bottom: 8px;
}

.input {
  width: 100%;
  margin-bottom: 3px;
}

.captionBlock {
  min-height: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caption {
  font-size: 12px;
}

.caption.error {
  color: var(--red);
}

.button {
  margin-top: 10px;
}